<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 사진 업로드를 위해 갤러리 접근이 필요합니다.</string>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>직관 인증을 위해 사용자의 위치 정보가 필요합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>구장 근처 방문시 직관 인증 리마인더를 위해 백그라운드 위치 정보가 필요합니다.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
