spring:

  transaction:
    default-timeout: 30s

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 5
      connection-timeout: 30000
      max-lifetime: 600000
      idle-timeout: 300000
      leak-detection-threshold: 30000

  task:
    execution:
      pool:
        core-size: 2
        max-size: 4
        queue-capacity: 200
      thread-name-prefix: app-async-

  jpa:
    hibernate:
      ddl-auto: validate

  sql:
    init:
      mode: never

  flyway:
    enabled: true

server:
  tomcat:
    threads:
      max: 50
      min-spare: 16
    accept-count: 100

management:
  metrics:
    enable:
      tomcat: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      app: yagubogu
      env: dev-k6
  endpoints:
    web:
      exposure:
        include: prometheus, health

security:
  token:
    access-token:
      secret-key: ${ACCESS_TOKEN_SECRET_KEY}
      expires-in: 1209600      # 14일 (초)
    refresh-token:
      secret-key: ${REFRESH_TOKEN_SECRET_KEY}
      expires-in: 1209600  # 14일 (초)

oauth:
  google:
    base-uri: 'http://wiremock:8080'
    token-info-uri: '/tokeninfo'
    client-id: mock-client-id
    connect-timeout: 180s
    read-timeout: 180s
