spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  flyway:
    enabled: false

management:
  endpoints.web.exposure.include: health,metrics,prometheus
  metrics.distribution:
    percentiles:
      all: 0.5,0.9,0.95,0.99
    percentiles-histogram:
      http.server.requests: true

decorator:
  datasource:
    p6spy:
      enable-logging: true
