spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  sql:
    init:
      mode: never

  lifecycle:
    timeout-per-shutdown-phase: 30s

  flyway:
    enabled: true

management:
  endpoints.web.exposure.include: health, metrics, prometheus
  metrics:
    tags:
      app: yagubogu
      env: prod

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    servers:
      - name: prod
        url: https://yagubogu.com

server:
  shutdown: graceful
  forward-headers-strategy: native
