spring:
  profiles:
    active: local

api:
  kbo:
    base-url: https://www.koreabaseball.com/ws/Main.asmx
    connect-timeout: 5s
    read-timeout: 30s
    content-type: application/x-www-form-urlencoded; charset=UTF-8

---
spring:
  config:
    activate:
      on-profile: local

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: prod
