spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  sql:
    init:
      mode: never

  lifecycle:
    timeout-per-shutdown-phase: 30s

  flyway:
    enabled: true

management:
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      app: yagubogu
      env: prod
  endpoints:
    web:
      exposure:
        include: prometheus,health,metrics
  tracing:
    sampling:
      probability: 0.2
  otlp:
    tracing:
      endpoint: http://${MONITORING_SERVER_IP}:4317

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    servers:
      - name: prod
        url: https://yagubogu.com

server:
  shutdown: graceful
  forward-headers-strategy: native
