spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    locations:
      - classpath:db/migration
      - classpath:db/migration/mysql
    validate-on-migrate: true

  datasource:
    hikari:
      maximumPoolSize: 18
      minimumIdle: 18
      connectionTimeout: 5000
      idleTimeout: 0
      maxLifetime: 1500000
      validationTimeout: 1000
      poolName: main-hikari-pool

  task:
    execution:
      pool:
        core-size: 2
        max-size: 4
        queue-capacity: 200
      thread-name-prefix: app-async-

server:
  tomcat:
    threads:
      max: 80
      min-spare: 16
    accept-count: 200

oauth:
  google:
    base-uri: 'https://oauth2.googleapis.com'
    token-info-uri: '/tokeninfo'
    client-id: ${GOOGLE_CLIENT_ID}
    connect-timeout: 180s
    read-timeout: 180s

security:
  token:
    access-token:
      secret-key: ${ACCESS_TOKEN_SECRET_KEY}
      expires-in: 900      # 15분 (초)
    refresh-token:
      secret-key: ${REFRESH_TOKEN_SECRET_KEY}
      expires-in: 1209600  # 14일 (초)

api:
  kbo:
    base-url: https://www.koreabaseball.com/ws
    connect-timeout: 5s
    read-timeout: 30s
    content-type: application/x-www-form-urlencoded; charset=UTF-8

kbo:
  crawler:
    base-url: https://www.koreabaseball.com/Schedule/ScoreBoard.aspx
    navigation-timeout: 7s
    table-timeout: 3s
    wait-timeout: 3s
    max-retries: 1
    retry-delay: 500ms
    context-pool-size: 2

    # 셀렉터
    date-field-selector: "#cphContents_cphContents_cphContents_hfSearchDate"
    date-label-selector: "#cphContents_cphContents_cphContents_lblGameDate"
    update-panel-selector: "#cphContents_cphContents_cphContents_udpRecord"
    score-selector: ".smsScore"

    # WebForms 포스트백 타겟
    event-target: "ctl00$ctl00$ctl00$cphContents$cphContents$cphContents$btnCalendarSelect"

    runner:
      enabled: false
      schedule-type: "regular"

sse:
  heartbeat:
    enabled: true
    interval-ms: 25000

app:
  s3:
    bucket: techcourse-project-2025
    presign-expiration: 10

---
spring:
  config:
    activate:
      on-profile: local

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: prod
