spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  sql:
    init:
      mode: never

  flyway:
    enabled: true

management:
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      app: yagubogu
      env: dev-k6
  endpoints:
    web:
      exposure:
        include: prometheus, health
  tracing:
    sampling:
      probability: 0.1
  otlp:
    tracing:
      endpoint: http://${MONITORING_SERVER_IP}:4317

security:
  token:
    access-token:
      secret-key: ${ACCESS_TOKEN_SECRET_KEY}
      expires-in: 1209600      # 14일 (초)
    refresh-token:
      secret-key: ${REFRESH_TOKEN_SECRET_KEY}
      expires-in: 1209600  # 14일 (초)

oauth:
  google:
    base-uri: 'https://oauth2.googleapis.com'
    token-info-uri: '/tokeninfo'
    client-id: ${GOOGLE_CLIENT_ID}
    connect-timeout: 180s
    read-timeout: 180s
